{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block main %}
    {% if top is integer %}
        <img alt="{{ top }}" class="border" src="http://memegen.link/custom/{{ top | urlencode }}/{{ bottom | urlencode }}.jpg?alt=https://i.imgur.com/CsCgN7Ll.png" title="{{ top }}">
    {% else %}
        <img alt="One_does_not_simply_meme" class="border" src="https://api.memegen.link/images/mordor/{{ top | urlencode }}/{{ bottom | urlencode }}.jpg" title="Nice try!"
    {% endif %}
{% endblock %}
