{% extends "layout.html" %}

{% block title %}
    Buy stocks
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <select name="symbol" class="form-control" required>
                <option value="" disabled selected>Select stock</option>
                {% for i in range (stocks|length) %}
                    <option value="{{ stocks[i] }}">{{ stocks[i] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input name="shares" class="form-control" type="number" placeholder="Shares" min="1" required>
        </div>
        <button class="btn btn-danger" type="submit">Sell</button>
    </form>
{% endblock %}
